* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}


:root{
    --color01: #F24405;
    --color02: #FA7F08;
    --color03: #707070;
    --color04: #242424;
}

body{
    background-image: linear-gradient(to left, var(--color02), var(--color01));
}


.container{
    display: flex;
    flex-direction: column;
    height: 700px;
    max-width: 500px;
    width: 100%;
    background-color: var(--color04);
    color: white;
    margin: 50px auto;
    border-radius: 40px;
    box-shadow: 0px 3px 5px #3f3f3f7e;
}


.container .painel {
    display: flex; 
    flex-direction: column; 
    background-color: #1c1c1c;
    height: 35%; 
    width: 90%; 
    margin: auto;
    border-radius: 5px;
    border: 1px solid #70707075;
}

.container .painel .result{
    height: 50%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.container .painel .calc {
    height: 50%;
    width: 100%;
    padding: 25px;
    border-top: 1px solid #70707075;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}


.container .content{
    display: flex;
    padding-bottom: 30px;
    gap: 2em;
    margin: auto ;
    justify-content: center;
}

.container .delete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10px 10px 15px;
}

.container .delete .clear{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color04);
    color: red;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.container .delete .clear:hover,
.container .delete .deleteOneNumber:hover{
    background-color: #3d3d3d9f;
}

.container .delete .deleteOneNumber{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color04);
    color: red;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.container .delete .deleteOneNumber img{
    width: 90%;
    height: 90%;
    padding: 5px;
    justify-content: center;
}


.content .numbers{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    height: 300px;
    width: 40%;
}


.content .numbers .number-botton{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color03);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.content .numbers .number-botton:hover{
    background-color: #70707071;
}


.content .numbers .equals-botton{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color01);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto;
    font-weight: 900;
    border: 1px solid white;
    cursor: pointer;
}

.content .numbers .equals-botton:hover{
    background-color: #f244059c;
}


.content .operations{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.content .operations .operation-botton{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color02);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.content .operations .operation-botton:hover{
    background-color: #fa81089d;
}





